@import "../../sass/variables.scss";
.newsCatalog_container {
  .results {
    height: 25px;
    border-bottom: $border;

    span {
      font-weight: $fontWeig_6;
      font-size: $fontS_16;
      line-height: 20px;

      color: $font_color;
    }
  }
}

.newsCatalog_cards {
  margin-top: 45px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}
