// sizes
$page_width: 1440px;
$page_hight: 1408px;

$article_width: 1290px;
$article_hight: 1001px;

// box-shadow

$box_shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);

// border

$border: 1px solid #eaeaea;

//color schema

$article_color: #ffffff;

$font_color: #363636;

// font sizes

$fontS_14: 14px;
$fontS_24: 24px;
$fontS_16: 16px;

// weights

$fontWeig_4: 400;
$fontWeig_6: 600;
$fontWeig_7: 700;
