@import "../../sass/variables.scss";

.timeStamp {
  position: relative;
  padding-left: 24px;

  height: 20px;
  width: 100%;
  margin-top: 217px;
  margin-bottom: 25px;

  color: $font_color;
  font-size: $fontS_14;
  opacity: 0.6;

  svg {
    position: absolute;
    left: 0;
  }
}
