@import "../../sass/variables.scss";
.news_card {
  position: relative;

  width: 400px;
  height: 530px;
  padding: 25px;

  background: $article_color;
  border: $border;
  box-shadow: $box_shadow;
  border-radius: 5px;

  overflow: hidden;

  img {
    position: absolute;
    width: 400px;
    height: 217px;
    left: 0px;
    top: 0px;
  }

  .read_more {
    font-style: normal;
    font-weight: $fontWeig_7;
    font-size: $fontS_16;
    margin-right: 6px;
  }
}
